body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather_details {
  background-image: url("./Assets/weather.png");
  background-size: cover;
  background-position: center;
  height: 100vh; /*  background covers the entire viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather_inner_details {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
